replicaCount: 1

image:
  repository: "606207925787.dkr.ecr.us-east-1.amazonaws.com/illuminati-react-frontend"
  pullPolicy: Always
  tag: "v-1"


podAnnotations: {}

host: "stage.buymeadoor.pp.ua"

service:
  name: frontend
  type: ClusterIP
  port: 8080
  targetPort: 8080

containerPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70

existingSecret: ""

